streamlit
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-openai==0.3.3
langchain-text-splitters==0.3.5
langchain-chroma==0.2.1
openai
chromadb==0.4.22
python-dotenv
pypdf
requests
beautifulsoup4
-e .
